<!DOCTYPE html>

<html lang="ko" class="default-style layout-fixed layout-navbar-fixed">

    <head>
        <%- include('../_layouts/headerEmpty') -%>
    </head>

    <body>
        <%- include('../_layouts/layout_Empty_bodystart') -%>

        <div class="app header footerNoNav">
            <%-include('../_parts/_header')%>
            <!-- Content -->
            <div class="container-fluid p-0 m-0 h-100">
                <div class="d-flex flex-column h-100">
                    <div class="align-self-center text-center my-5 py-5">
                        <div class="logotitle2"><img src="/img/new/boomUp_logo_title.png"/></div>
                    </div>
                    <div class="flex-fill p-4">
                        <form id="email-check-form" method="POST" novalidate="novalidate">
                            <div class="input-group mt-1">
                                <input id="em" type="text" name="em" class="form-control input_login" placeholder="<%= __('LOGIN_EMAILADDR')%>" <%= user && user.auth && user.auth.email ? 'disabled="disabled"' : '' %> value="<%= user && user.auth && user.auth.email ? user.auth.email.key : '' %>">
                                <div class="input-group-append">
                                    <button type="button" onclick="event.preventDefault(); $('#email-check-form').submit();" class="btn btn-secondary" ><%= __('AUTH_SENDAUTHNO')%></button>
                                </div>
                            </div>
                            <div class="d-flex align-items-center warn_area hidden">
                                <div class="icon-excl warn_icon mt-1"></div>
                                <div class="ml-1 mt-2 warn_text"><%= __('VALIDATOR_REQUIREDEMAIL')%></div>
                            </div>
                        </form>

                        <form id="password-check-form" method="POST" novalidate="novalidate">
                            <div class="input-group mt-1">
                                <input id="authno" type="number" name="authno" class="form-control input_login" placeholder="<%= __('AUTTNO')%>">
                            </div>
                            <div class="d-flex align-items-center warn_area hidden">
                                <div class="icon-excl warn_icon mt-1"></div>
                                <div class="ml-1 mt-2 warn_text"><%= __('VALIDATOR_AUTHNO')%></div>
                            </div>
                            <div class="input-group mt-1">
                                <input id="pw1" type="password" name="pw1" class="form-control input_login" placeholder="<%= __('LOGIN_PASSWORD')%>">
                            </div>
                            <div class="d-flex align-items-center warn_area hidden">
                                <div class="icon-excl warn_icon mt-1"></div>
                                <div class="ml-1 mt-2 warn_text"><%= __('VALIDATOR_REQUIREDPW')%></div>
                            </div>

                            <div class="input-group mt-1">
                                <input id="pw2" type="password" name="pw2" class="form-control input_login" placeholder="<%= __('LOGIN_EQPASSWORD')%>">
                            </div>
                            <div class="d-flex align-items-center warn_area hidden">
                                <div class="icon-excl warn_icon mt-1"></div>
                                <div class="ml-1 mt-2 warn_text"><%= __('VALIDATOR_EQUALTOPW')%></div>
                            </div>
                            <button type="button" onclick="event.preventDefault(); $('#password-check-form').submit();" class="btn btn-primary btn-block btn_login mt-3">비밀번호 변경</button>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="fixed-bottom keyboard-show-hidden-item">
                <div class="d-flex justify-content-around">
                    <div class="mt-1">
                        <a href="/support/terms" class="left_bottom_text"><%= __('LB_MENU1')%></a> | <a href="/support/privacy" class="left_bottom_text"><%= __('LB_MENU2')%></a> | <a href="/left/faq" class="left_bottom_text"><%= __('LB_MENU3')%></a> | <a href="/left/notice" class="left_bottom_text"><%= __('LB_MENU4')%></a>
                    </div>
                </div>
            </footer>
            <!-- Content -->
        </div>

        <%- include('../_layouts/layout_Empty_bodyscript') -%>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js" integrity="sha256-vb+6VObiUIaoRuSusdLRWtXs/ewuz62LgVXg2f1ZXGo=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha256-6rXZCnFzbyZ685/fMsqoxxZz/QZwMnmwHg+SsNe+C/w=" crossorigin="anonymous"></script>
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/cipher-core.min.js" integrity="sha256-Y7SVWwin6U0VYV88jtgGd6z3ohMG+IMn3w4vl8vTvDs=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/hmac-sha512.min.js" integrity="sha256-6LEpzLhP3784Zf/1GDOijZdcE58Oqnkjbr5DQ17bjNk=" crossorigin="anonymous"></script> -->
        <script type="text/javascript">
            $.validator.messages = {
                required: "<%= __('VALIDATOR_REQUIRED')%>",
                remote: "<%= __('VALIDATOR_REMOTE')%>",
                email: "<%= __('VALIDATOR_EMAIL')%>",
                url: "<%= __('VALIDATOR_URL')%>",
                date: "<%= __('VALIDATOR_DATE')%>",
                dateISO: "<%= __('VALIDATOR_DATEISO')%>",
                number: "<%= __('VALIDATOR_NUMBER')%>",
                digits: "<%= __('VALIDATOR_DIGITS')%>",
                equalTo: "<%= __('VALIDATOR_EQUALTO')%>",
                maxlength: $.validator.format("<%= __('VALIDATOR_MAXLENGTH')%>"),
                minlength: $.validator.format("<%= __('VALIDATOR_MINLENGTH')%>"),
                rangelength: $.validator.format("<%= __('VALIDATOR_RANGELENGTH')%>"),
                range: $.validator.format("<%= __('VALIDATOR_RANGE')%>"),
                max: $.validator.format("<%= __('VALIDATOR_MAXLENGTH')%>"),
                min: $.validator.format("<%= __('VALIDATOR_MINLENGTH')%>"),
                step: $.validator.format("<%= __('VALIDATOR_STEP')%>")
            };
            
            (function () {
                if( /Android/i.test(navigator.userAgent)) {
                    // 안드로이드
                } else if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    // iOS 아이폰, 아이패드, 아이팟
                } else {
                    // 그 외 디바이스
                }

                setHeader('back', '');

                $.validator.addMethod("regex", function (value, element, regexpr) { return regexpr.test(value); });
                $.validator.addMethod("byteRangeLength", function (value, element, param) {
                    var length = value.length;
                    for (var i = 0; i < value.length; i++) { if (value.charCodeAt(i) > 127) { length++; } }
                    return this.optional(element) || (length >= param[0] && length <= param[1]);
                }, $.validator.format("<%= __('VALIDATOR_BYTELENGTH')%>"));


                $("#email-check-form").validate({
                    ignore: ':hidden:not(.validate)',
                    rules: {
                        em: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        em: {
                            required: "<%= __('VALIDATOR_REQUIREDEMAIL')%>"
                        }
                    },
                    errorPlacement: function errorPlacement(error, element) {
                        var $parent = $(element).parents('.input-group').next('.warn_area');
                        // Do not duplicate errors
                        if ($parent.find('.jquery-validation-error').length) {
                            return;
                        }
                        $parent.removeClass('hidden');
                    },
                    highlight: function (element) {
                    },
                    unhighlight: function (element) {
                        // $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
                        var $parent = $(element).removeClass('is-invalid').addClass('is-valid').parents('.input-group').next('.warn_area');
                        $parent.addClass('hidden');
                    },
                    submitHandler: function (form) {
                        blockPage();
                        var formData = objectifyForm(form);
                        $.post({
                            url: '/auth/sendemailauthno',
                            processData: false,
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(formData),
                            success: function (data, status, xhr) {
                                unblockPage();
                                if (data && data.result === 'ok') {
                                    onPopup("alert", "<%= __('AUTH_EMAILSENDMSG')%>", function (cb) { });
                                    return false;
                                }
                                onPopup("alert", "<%- __('AUTH_EMAILSENDFAIL')%>", function (cb) { });
                                return false;
                            },
                            error: function (xhr, status, err) {
                                unblockPage();
                                onPopup("alert", "<%- __('AUTH_EMAILSENDFAIL')%>", function (cb) { });
                            }
                        });
                        return false;
                    }
                });

                // Validation
                $("#password-check-form").validate({
                    ignore: ':hidden:not(.validate)',
                    rules: {
                        authno : {
                            required: true,
                            regex: /^[0-9]{6}$/
                        },
                        pw1: {
                            required: true,
                            byteRangeLength:[4,32],
                        },
                        pw2: {
                            required: true,
                            equalTo: "#pw1"
                        }
                    },
                    messages: {
                        authno: {
                            required: "<%= __('VALIDATOR_REQUIREDAUTHNO')%>",
                            regex: "<%= __('VALIDATOR_INVALIDAUTHNO')%>"
                        },
                        pw1: {
                            required: "<%= __('VALIDATOR_REQUIREDPW')%>"
                        },
                        pw2: {
                            required: "<%= __('VALIDATOR_EQUALTOPW')%>",
                            equalTo: "<%= __('VALIDATOR_EQUALTOPW')%>"
                        },
                    },
                    errorPlacement: function errorPlacement(error, element) {
                        var $parent = $(element).addClass('is-invalid').parents('.input-group').next('.warn_area');
                        if ($parent.length < 1) $parent = $(element).addClass('is-invalid').parents('.input-group').find('.warn_area');

                        // Do not duplicate errors
                        if ($parent.find('.jquery-validation-error').length) {
                            return;
                        }

                        if (error.length > 0) $parent.find('.warn_text').text(error.text());
                        $parent.removeClass('hidden');
                    },
                    highlight: function (element) {
                    },
                    unhighlight: function (element) {
                        // $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
                        var $parent = $(element).removeClass('is-invalid').addClass('is-valid').parents('.input-group').next('.warn_area');
                        if ($parent.length < 1) $parent = $(element).removeClass('is-invalid').addClass('is-valid').parents('.input-group').find('.warn_area');
                        $parent.addClass('hidden');
                    },
                    submitHandler: function (form) {
                        var formData = objectifyForm(form);
                        formData.em = $("#em").val();
                        formData.pw =  CryptoJS.enc.Hex.stringify(CryptoJS.SHA512(formData.pw1));
                        formData.pw1 = "";
                        formData.pw2 = "";
                        $.post({
                            url: '/auth/resetpassword',
                            processData: false,
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(formData),
                            success: function (data, status, xhr) {
                                unblockPage();
                                if (data && data.result === 'ok') {
                                    onPopup("alert", "<%= __('AUTH_CHANGEPWDONE')%>", function (cb) {history.back();});
                                    return false;
                                }

                                var messages = "<%= __('AUTH_CHANGEPWFAIL')%>";
                                switch (data.codemsg) {
                                    case 'email-validation-error':
                                        messages = "<%= __('AUTH_ERROREMAILNOPW')%>";
                                        break;
                                    case 'email-nouser-error':
                                        messages = "<%= __('AUTH_ERROREMAIL')%>";
                                        break;
                                    case 'email-authno-error':
                                        messages = "<%- __('AUTH_ERRORAUTHNO')%>";
                                        break;
                                    default:
                                        break;
                                }
                                onPopup("alert", messages, function (cb) { });
                                return false;
                            },
                            error: function (xhr, status, err) {
                                unblockPage();
                                onPopup("alert", "<%= __('AUTH_CHANGEPWFAIL')%>", function (cb) { });
                            }
                        });
                        return false;
                    }
                });
            })();
        </script>
        <%- include('../_layouts/layout_Empty_bodyend') -%>
    </body>

</html>