<!DOCTYPE html>
<html lang="ko" class="default-style layout-fixed layout-navbar-fixed navbar-fixed-bottom">

    <head>
        <%-include('../_layouts/header')%>
        <%-include('../_layouts/layout_bodyscript')%>
    </head>

    <body>
        <%-include('../_layouts/layout_bodystart')%>
        <div class="app header footer" id="contentbody">
            <%-include('../_parts/_header')%>
            <!-- content -->
            <% if(!Userinfo.boomCoin){Userinfo.boomCoin=0} %>
            <div class="app-width-size container-fluid p-0 m-0" style="z-index: 1000;background-color:#ffffff" id="mainbody">
                <%if(Userinfo.boomCoin === 0){%>
                    <div class="empty-wrapper">
                        <div class="empty-boom">
                            <div class="main-title">보유중인 붐코인이 없어요</div>
                            <div class="sub-title">붐코인은 거래소에서 가상화페로<br>사용가능한 코인이에요</div>
                        </div>
                        <%-include('../_parts/_common_coin_info')%>
                    </div>
                <%}else{%>
                    <div class="no-empty-wrapper">
                        <div class="point">
                            <%=Userinfo.boomCoin.toLocaleString()%>
                        </div>
                        <div class="info">
                            현재 <%=Userinfo.boomLevel.toLocaleString()%>원의 배당금을<br>
                            붐코인으로 교환가능해요!
                        </div>
                        <div class="exchange-btn">
                            <%=Userinfo.boomLevel.toLocaleString()%> 붐코인으로 교환하기
                        </div>
                        <div class="select-area">
                            <div class="select-content coin-history active" onclick="toggleCoin('coin')">붐코인 내역</div>
                            <div class="select-content coin-info" onclick="toggleCoin('info')">모으는 방법</div>
                        </div>
                    </div>
                <%}%>

                <!--ㅂㅣ공개-->
            </div>
            <div class="list coin-info-content hidden">
                <%-include('../_parts/_common_coin_info')%>
            </div>
            <div class="list coin-list">
            </div>
        </div>
        <%-include('../_parts/_footer')%>
        <script src="/js/plupload/plupload.full.min.js"></script>
        <script type="text/javascript">
            (function () {
                setHeader(<%=isMain %> ? '' : 'back', ['share'<% if(!isMine) { %>, 'more'<% } %>],
                {
                    more: (e) => {
                        e.preventDefault();
                        if (!<%= _isAuthed %>) return;
                        Popup2On("profile", "<%=currUserId%>", (val, id) => { callbackPopup(val, id) });
                    },
                    share: (e) => {
                        e.preventDefault();
                        shareLink('<%=Userinfo.nickname%>', '', "/profile/main/<%=Userinfo._id.toHexString()%>", '<%=getPhoto(Userinfo.photo,1)%>');
                    }
                });
            })();
            
            function toggleCoin(val){
                if(val === 'coin'){
                    $('.coin-history').addClass('active')
                    $('.coin-info').removeClass('active')
                    $('.coin-list').removeClass('hidden')
                    $('.coin-header').removeClass('hidden')
                    $('.coin-info-content').addClass('hidden')
                }else{
                    $('.coin-info').addClass('active')
                    $('.coin-history').removeClass('active')
                    $('.coin-list').addClass('hidden')
                    $('.coin-header').addClass('hidden')
                    $('.coin-info-content').removeClass('hidden')
                }
            }

        </script>
        <%-include('../_layouts/layout_bodyend')%>
    </body>

</html>