<!DOCTYPE html>

<html lang="ko" class="default-style layout-fixed layout-navbar-fixed navbar-fixed-bottom">

    <head>
        <%-include('../_layouts/header')%>
    </head>

    <body>
        <%-include('../_layouts/layout_bodystart')%>

        <div class="app header footer">
            <%-include('../_parts/_new_header')%>
            <!-- content -->
            <div class="container-fluid p-0 m-0 ">
                <!--profile-->

                <div class="list-group list-group-flush">
<!--                      --><!-- <div class="setting-group"> -->
<!--                         <p class="setting-group-text"> <%= __('SETTING_MEMBERINFO')%> </p> -->
<!--                     </div> -->
<!--                     <a href="changeEmail" class="list-group-item d-flex justify-content-between"> -->
<!--                         <div class="py-0 my-0"> -->
<!--                             <i class="icon-message setting_line_icon"> <span class="setting_line_text"><%= __('SETTING_EMAIL')%> <%= __('MODIFY')%></span> </i> -->
<!--                         </div> -->
<!--                         <div> -->
<!--                             <i class="icon-arrow-right setting_right_icon"></i> -->
<!--                         </div> -->
<!--                     </a> -->
<!--                     <a href="changePassword" class="list-group-item d-flex justify-content-between  "> -->
<!--                         <div> -->
<!--                             <i class="icon-password setting_line_icon"> <span class="setting_line_text"><%= __('SETTING_PASSWORD')%> <%= __('CHANGE')%></span> </i> -->
<!--                         </div> -->
<!--                         <div> -->
<!--                             <i class="icon-arrow-right setting_right_icon"></i> -->
<!--                         </div> -->
<!--                     </a> -->
                    <div class="setting-group">
                        <p class="setting-group-text"> <%= __('SETTING_AUTHINFO')%> </p>
                    </div>
                    <%if(user.auth&&user.auth.email&&user.auth.email.key){%>
                    <div class="list-group-item d-flex justify-content-between snsApple">
                        <div>
                            <i class="icon-message setting_line_icon"> <span class="setting_line_text"><%= __('SETTING_EMAIL')%> <%= __('AUTHEFICATION')%> </span> </i>
                        </div>
                        <div onclick="location.href='/auth/resetpassword';">
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHEMAILCHANGEPW')%></span>
                        </div>
                    </div>
                    <%}%>
                    <%if(!_isAdmin){%>
                        <div class="list-group-item d-flex justify-content-between snsApple">
                        <div>
                            <i class="icon-apple setting_line_icon"> <span class="setting_line_text"><%= __('SETTING_APPLE')%> <%= __('AUTHEFICATION')%> </span> </i>
                        </div>
                        <%if(user.auth&&user.auth.apple&&user.auth.apple.key){%>
                        <div>
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHDONE')%></span>
                        </div>
                        <%}else{%>
                        <div onclick="addsigninbySNS('apple');">
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHEXE')%></span>
                        </div>
                        <%}%>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <div>
                            <img src="/img/google-logo.svg" width="18px"> <span class="setting_line_text"><%= __('SETTING_GOOGLE')%> <%= __('AUTHEFICATION')%> </span> </i>
                        </div>
                        <%if(user.auth&&user.auth.google&&user.auth.google.key){%>
                        <div>
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHDONE')%></span>
                        </div>
                        <%}else{%>
                        <div onclick="addsigninbySNS('google');">
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHEXE')%></span>
                        </div>
                        <%}%>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <div>
                            <i class="icon-facebook-fill setting_line_icon"> <span class="setting_line_text"><%= __('SETTING_FACEBOOK')%> <%= __('AUTHEFICATION')%> </span> </i>
                        </div>
                        <%if(user.auth&&user.auth.facebook&&user.auth.facebook.key){%>
                        <div>
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHDONE')%></span>
                        </div>
                        <%}else{%>
                        <div onclick="addsigninbySNS('facebook');">
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHEXE')%></span>
                        </div>
                        <%}%>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <div>
                            <i class="icon-kakao-fill setting_line_icon"> <span class="setting_line_text"><%= __('SETTING_KAKAO')%> <%= __('AUTHEFICATION')%> </span> </i>
                        </div>
                        <%if(user.auth&&user.auth.kakao&&user.auth.kakao.key){%>
                        <div>
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHDONE')%></span>
                        </div>
                        <%}else{%>
                        <div onclick="addsigninbySNS('kakao');">
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHEXE')%></span>
                        </div>
                        <%}%>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <div>
                            <i class="icon-naver-fill setting_line_icon"> <span class="setting_line_text"><%= __('SETTING_NAVER')%> <%= __('AUTHEFICATION')%> </span> </i>
                        </div>
                        <%if(user.auth&&user.auth.naver&&user.auth.naver.key){%>
                        <div>
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHDONE')%></span>
                        </div>
                        <%}else{%>
                        <div onclick="addsigninbySNS('naver');">
                            <span class=" setting_right_texted"><%=__('SETTING_AUTHEXE')%></span>
                        </div>
                        <%}%>
                    </div>
                    <%}%>
                    <div class="list-group-item d-flex justify-content-between">
                        <span class=" setting_line_text" onclick="logout();"><%=__('SETTING_LOGOUT')%></span>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <span class=" setting_line_text" onclick="unregister()"><%=__('SETTING_LEAVE')%></span>
                    </div>
                    <div class="setting-group second">
                        <p class="setting-group-text"> <%= __('SETTING_ENVINFO')%> </p>
                    </div>
                        <div id="setting-permission-notification" class="list-group-item d-flex justify-content-between">
                            <div class="py-0 my-0">
                                <span class="setting_line_text"><%= __('ALERT')%></span>
                            </div>
                            <div>
<!--                                 <button type="button" class="btn btn-text-normal" onclick="openAppSetting();"><%= __('SETTING_DEVICESET')%></button> -->
                                <span class=" setting_right_texted" onclick="openAppSetting();"><%=__('SETTING_DEVICESET')%></span>
                            </div>
                        </div>

                        <div id="setting-permission-camera" class="list-group-item d-flex justify-content-between">
                            <div class="py-0 my-0">
                                <span class="setting_line_text"><%= __('CAMERA')%></span>
                            </div>
                            <div>
<!--                                 <button type="button" class="setting_right_texted" onclick="openAppSetting();"><%= __('SETTING_DEVICESET')%></button> -->
                                <span class=" setting_right_texted" onclick="openAppSetting();"><%=__('SETTING_DEVICESET')%></span>
                            </div>
                        </div>

                        <div id="setting-permission-microphone" class="list-group-item d-flex justify-content-between">
                            <div class="py-0 my-0">
                                <span class="setting_line_text"><%= __('MIC')%></span>
                            </div>
                            <div>
<!--                                 <button type="button" class="btn btn-text-normal" onclick="openAppSetting();"><%= __('SETTING_DEVICESET')%></button> -->
                                <span class=" setting_right_texted" onclick="openAppSetting();"><%=__('SETTING_DEVICESET')%></span>
                            </div>
                        </div>
                </div>


        <div style="height:50px">
        </div>
        <!--profile-->
        </div>

        <!-- content -->
        <%-include('../_parts/_footer')%>
        <%-include('../_layouts/layout_bodyscript')%>
        <script src="//cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="/js/sns/naveridlogin_js_sdk_2.0.0.js"></script>
        <script src="/js/sns/kakao.min.js"></script>
        <script>
//             window.fbAsyncInit = function () {
//                 FB.init({
//                     appId: '2780254578892203',
//                     xfbml: true,
//                     version: 'v6.0'
//                 });
//                 // FB.AppEvents.logPageView();
//             };
//             (function (d, s, id) {
//                 var js, fjs = d.getElementsByTagName(s)[0];
//                 if (d.getElementById(id)) { return; }
//                 js = d.createElement(s); js.id = id;
//                 js.src = "https://connect.facebook.net/en_US/sdk.js";
//                 fjs.parentNode.insertBefore(js, fjs);
//             }(document, 'script', 'facebook-jssdk'));
//             Kakao.init("38ba507bd2b37d4e1c7732e408021f73");
//             var naverLogin = new naver.LoginWithNaverId(
//                 {
//                     clientId: "whePhYTEtI9r7ZLQ6Ack",
//                     callbackUrl: "<%=serviceinfo.defaultUrl%>/api/auth/oauth/callback/naver",
//                 }
//             );
//             naverLogin.init();
        </script>
        <script type="text/javascript">
            var isAOS = /Android/i.test(navigator.userAgent);
            var isIOS = /iPad|iPhone|iPod/i.test(navigator.userAgent) && !window.MSStream;

            if (isAOS) {
                $('div.snsApple').addClass('hidden');
            }
            function openAppSetting() {
                OpenAppSetting.postMessage('');
            }
            function addsigninbySNS(type) {
                <%if (!_isInApp) {%>
                    onPopup("alert", "<%= __('AUTH_REQINAPP')%>", function (cb) { });
                <%} else {%>
                    if (type === 'apple' && isAOS) {
                        onPopup("alert", "<%= __('AUTH_REQNOTINAOS')%>", function (cb) { });
                        return;
                    }

                    if ((<%= user.auth && user.auth.apple && user.auth.apple.key ? 'true' : 'false' %>) || type === 'apple') {
                        onPopup('confirm', "<%- __('AUTH_APPLE_ACCOUNT_LINK')%>", (r) => { if (r) { blockPage(); window.Auth && window.Auth.postMessage(JSON.stringify({ type: type, mode: 'addsign' })); } });
                    } else {
                        blockPage(); window.Auth && window.Auth.postMessage(JSON.stringify({ type: type, mode: 'addsign' }));
                    }
                <%}%>
            }
            function onAuthMessage(type) {
                if (!type) return;
                switch (type) {
                    case 'EARG': { return onPopup("alert", "<%= __('AUTH_EARG')%>", function (cb) { }); }
                    case 'EREQARG': { return onPopup("alert", "<%= __('AUTH_EREQARG')%>", function (cb) { }); }
                    case 'EINVALIDEM': { return onPopup("alert", "<%= __('AUTH_EINVALIDEM')%>", function (cb) { }); }
                    case 'ENOTSUPP': { return onPopup("alert", "<%= __('AUTH_ENOTSUPP')%>", function (cb) { }); }
                    case 'EINVALIDJOINSNS': { return onPopup("alert", "<%= __('AUTH_EINVALIDJOINSNS')%>", function (cb) { }); }
                    case 'EINVALIDADDSNS': { return onPopup("alert", "<%= __('AUTH_EINVALIDADDSNS')%>", function (cb) { }); }
                    case 'EUNKNOWN': { return onPopup("alert", "<%= __('AUTH_EUNKNOWN')%>", function (cb) { }); }

                    case 'EFBFAIL': { return onPopup("alert", "<%= __('AUTH_FACEBOOK_FAIL')%>", function (cb) { }); }
                    case 'EFBCANCEL': { return onPopup("alert", "<%= __('AUTH_FACEBOOK_CANCEL')%>", function (cb) { }); }
                    case 'EFBERROR': { return onPopup("alert", "<%= __('AUTH_FACEBOOK_ERROR')%>", function (cb) { }); }

                    case 'EKKOFAIL': { return onPopup("alert", "<%= __('AUTH_KAKAO_FAIL')%>", function (cb) { }); }
                    case 'EKKOCANCEL': { return onPopup("alert", "<%= __('AUTH_KAKAO_CANCEL')%>", function (cb) { }); }
                    case 'EKKOERROR': { return onPopup("alert", "<%= __('AUTH_KAKAO_ERROR')%>", function (cb) { }); }

                    case 'ENVFAIL': { return onPopup("alert", "<%= __('AUTH_NAVER_FAIL')%>", function (cb) { }); }
                    case 'ENVCANCEL': { return onPopup("alert", "<%= __('AUTH_NAVER_CANCEL')%>", function (cb) { }); }
                    case 'ENVERROR': { return onPopup("alert", "<%= __('AUTH_NAVER_ERROR')%>", function (cb) { }); }

                    case 'EGGFAIL': { return onPopup("alert", "<%= __('AUTH_GOOGLE_FAIL')%>", function (cb) { }); }
                    case 'EGGCANCEL': { return onPopup("alert", "<%= __('AUTH_GOOGLE_CANCEL')%>", function (cb) { }); }
                    case 'EGGERROR': { return onPopup("alert", "<%= __('AUTH_GOOGLE_ERROR')%>", function (cb) { }); }

                    case 'EAPFAIL': { return onPopup("alert", "<%= __('AUTH_APPLE_FAIL')%>", function (cb) { }); }
                    case 'EAPCANCEL': { return onPopup("alert", "<%= __('AUTH_APPLE_CANCEL')%>", function (cb) { }); }
                    case 'EAPERROR': { return onPopup("alert", "<%= __('AUTH_APPLE_ERROR')%>", function (cb) { }); }
                    default: { break; }
                }
            }
            (function () {
                // TODO script
                checkDevicePermission();
            })();
            function checkDevicePermission() {
                if (typeof Permission !== 'undefined') {
                    var permissionList = [];
                    $("[id|=setting-permission").each((i, item) => {
                        var id = $(item).attr('id').replace("setting-permission-", "");
                        if (id.length > 0) {
                            permissionList.push(id);
                        }
                    });
                    Permission.postMessage(JSON.stringify({ 'type': permissionList }));
                } else {
                    //$("[id|=setting-permission], #setting-device-permission-title").addClass("hidden");
                }
            }

            function onRecivePermission(result) {
                result = (typeof result === "string" ? JSON.parse(result) : result);
                for (key in result) {
                    var permission = result[key];
                    if (permission == 'granted') {
                        $("#setting-permission-" + key).addClass("hidden");
                    } else if (permission == 'unknown') {
                        // 아직 권한 요청이 없었던 기능에 대한 처리
                        // 추후 기능 논의 처리 일단 숨김처리
                        $("#setting-permission-" + key).addClass("hidden");
                    } else {
                        $("#setting-permission-" + key).removeClass("hidden");
                    }
                }

                if ($("[id|=setting-permission]:not(.hidden)").length == 0) {
                    $("#setting-device-permission-title").addClass("hidden");
                }
            }

            function logout() {
                onPopup("confirm", "<%= __('MESSAGE_LOGOUT')%>", function (cb) {
                    if (cb == 1) {
                        if (window.Auth) {
                            window.Auth.postMessage(JSON.stringify({ type: 'signout', mode: 'signout' }));
                        } else {
                            FB && FB.logout(function (response) {
                                // Person is now logged out
                            });
                            Kakao && Kakao.Auth && Kakao.Auth.logout(function (response) {
                                // Person is now logged out
                            });
                            naverLogin && naverLogin.logout(function (response) {
                                // Person is now logged out
                            });
                            if (gapi && gapi.auth2) {
                                var auth2 = gapi.auth2.getAuthInstance();
                                auth2.signOut().then(function () {
                                    // Person is now logged out
                                });
                            }
                            location.href = "/auth/logout";
                        }
                    }
                });
            }

            function unregister() {
                onPopup("confirm", "<%- __('SETTING_LEAVEMSG')%>", function (cb) {
                    if (cb == 1) {
                        $.ajax({
                            method: 'post',
                            url: '/auth/unregister',
                            success: function (data, status, xhr) {
                                console.log(data)
                                if (data.result == "ok") {
                                    location.href = "/";
                                } else {
                                }
                            },
                            error: function (xhr, status, err) {
                            },
                            complete: function () {
                            }
                        });
                    }
                });
            }
        </script>
        <%-include('../_layouts/layout_bodyend')%>
    </body>

</html>