<!DOCTYPE html>
<html lang="ko" class="default-style layout-fixed layout-navbar-fixed navbar-fixed-bottom">

    <head>
        <%-include('../_layouts/header')%>
        <%-include('../_layouts/layout_bodyscript')%>
    </head>

    <body>
        <%-include('../_layouts/layout_bodystart')%>
        <div class="app header footer" id="contentbody">
            <%-include('../_parts/_new_header')%>
            <!-- content -->

            <div class="app-width-size container-fluid p-0 m-0 position-fixed" style="z-index: 1000;background-color:#ffffff" id="mainbody">

            <div class="no-empty-wrapper">
                <div class="boom-box">
                    <div class="betting-wrapper">
                        <div class="betting-text">베팅중인 붐포인트</div>
                        <div class="betting-point"><%= totalPoint?totalPoint.toLocaleString():0 %></div>
                    </div>
                    <img src="/img/new/profile_right_arrow.svg"/>
                </div>
                <div class="select-area">
                    <div class="select-content betting-history active" onclick="togglePoint('betting')">베팅내역</div>
                    <div class="select-content level-history" onclick="togglePoint('level')">배당내역</div>
                </div>
            </div>
        </div>

        <div class="list point-list">
            <div id="betting_list">
                <div id="board-list-area">
                    <% if(bettingData.length > 0){ %>
                    <%- include('../profile/list', {bettingData: bettingData, type: 'betting'}) -%>
                    <% }else{ %>
                    <% } %>
                </div>
            </div>
            <div id="level_list" class="hidden">
                <div id="board-list-area">
                    <% for(let i in mileHistory){%>
                    <div id="board-area" class="list-post d-flex" >
                        <div class="flex-grow-1 flex-shrink-1">
                            +<%=mileHistory[i].boomLevel.toLocaleString()%>
                            <div class="d-flex post-sub-wrapper">
                                <span class="post-time">
                                    <%=moment(mileHistory[i].createTS).format("YYYY/MM/DD")%>
                                </span>
                            </div>
                        </div>
                    </div>
                    <% }%>
                </div>
            </div>
        </div>
        <%-include('../_parts/_footer')%>


        <script src="/js/plupload/plupload.full.min.js"></script>
        <script type="text/javascript">
            var _auth = <%= _isAuthed %>;

            cashePage({
                onBeforeUnload: () => {
                    return {
                        selector: "#betting_list",
                    }
                }
            });

            (function () {
                $('.list').css('margin-top', $('#mainbody').height()+'px');

                var $mainTopArea = $("#main-hidden-menu");
                var mainTopHeight = $mainTopArea.outerHeight();
                $(<% if (_isInApp) { %>".app"<%} else {%>window<%}%>).scroll(function(){
                    var y = $(<% if (_isInApp) { %>".app"<%} else {%>window<%}%>).scrollTop();
                    if (y >= mainTopHeight) {
                        $("#scroll-fixed-area").addClass('scroll-fixed-area');
                    } else {
                        $("#scroll-fixed-area").removeClass('scroll-fixed-area')
                    }
                });

                // $("#comm-input-area").addClass("hidden");
                // $("#comm-more-area, #comment_more").removeClass("hidden");
                $("#comm-input-area, #comm-more-area").addClass("hidden");

                $(".icon-my-footer").addClass("font-weight-bold");

                $("#board-list-area").addClass("mb-4");
                $("#comment-list-area").addClass("mb-4");
            })();

            function togglePoint(val){
                if(val === 'betting'){
                    $('.betting-history').addClass('active')
                    $('.level-history').removeClass('active')
                    $('#betting_list').removeClass('hidden')
                    $('#level_list').addClass('hidden')
                }else{
                    $('.level-history').addClass('active')
                    $('.betting-history').removeClass('active')
                    $('#betting_list').addClass('hidden')
                    $('#level_list').removeClass('hidden')
                }
            }

            function onGoPostDetail($this, id) {
                var url = window.location.href;
                var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');
                var keyvalue
                var category="inkiup"
                for (var i=0; i<parameters.length;i++){
                    keyvalue = parameters[i].split('=');
                    //console.log(keyvalue,keyvalue.length)
                    if(keyvalue[0]=="k"){
                        category=keyvalue[1]
                    }
                }

                var pathHash = category
                location.href = '/detail/' + (pathHash || 'inkiup-24rank') + "/" + id;
            }

            function onGoPostDetailComment($this, id) {
                var pathHash = window.location.hash.replace("#", "");
                location.href = '/detail/' + (pathHash || 'inkiup-24rank') + "/" + id+"?cyn=Y";
            }

        </script>
        <%-include('../_layouts/layout_bodyend')%>
    </body>

</html>
