<!DOCTYPE html>

<html lang="ko" class="default-style layout-fixed layout-navbar-fixed navbar-fixed-bottom">

    <head>
        <%-include('../_layouts/header')%>
    </head>

    <body>
        <div class="app">
            <%-include('../_layouts/layout_bodystart')%>
            <%-include('../_parts/_header')%>
            <!-- Content -->

            test!!!!
            <!-- Content -->
            <%-include('../_parts/_footer')%>
            <%-include('../_layouts/layout_bodyscript')%>

            <script type="text/javascript">
                (function () {
                    // TODO script
                })();
            </script>
            <%-include('../_layouts/layout_bodyend')%>
        </div>
    </body>

</html>