<!--SUBJECT:<%=serviceinfo.sitename%>의 이메일 인증입니다-->
<div style="margin:0;padding:0" bgcolor="#FFFFFF" class="ppl_msg">
	<table width="100%" height="100%" style="min-width2:348px" border="0" cellspacing="0" cellpadding="0" class="ppl_msg">
		<tbody>
			<tr height="32px" class="ppl_msg"></tr>
			<tr align="center" class="ppl_msg">
				<td width="32px" class="ppl_msg"></td>
				<td class="ppl_msg">
					<table border="0" cellspacing="0" cellpadding="0" style="" class="ppl_msg">
						<tbody>
							<tr class="ppl_msg">
								<td class="ppl_msg">
									<table bgcolor="#EF443E" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width2:332px;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px" class="ppl_msg">
										<tbody>
											<tr class="ppl_msg">
												<td height="18px" colspan="3" class="ppl_msg"></td>
											</tr>
											<tr class="ppl_msg">
												<td width="32px" class="ppl_msg"></td>
												<td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#fffff;line-height:1.25" class="ppl_msg">
													<svg width="30%" height="30%" viewBox="0 0 110 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
														<g transform="matrix(0.101731,0,0,0.101731,-6.27836,-9.61235)">
															<path d="M449.86,419.184L407.217,419.184L407.217,171.954L479.576,171.954L479.576,263.265L555.337,180.449C568.462,166.101 590.767,165.109 605.114,178.234L605.177,178.291C619.559,191.448 620.554,213.806 607.397,228.188L546.643,294.6L607.018,363.13C619.903,377.755 618.49,400.091 603.865,412.976L603.801,413.032C589.21,425.887 566.928,424.477 554.074,409.887L479.576,325.327L479.576,389.468C479.576,405.868 466.261,419.183 449.86,419.184ZM147.625,171.954L147.625,389.468C147.625,405.869 134.31,419.184 117.909,419.184L75.266,419.184L75.266,201.554C75.266,185.218 88.529,171.954 104.866,171.954L147.625,171.954ZM708.027,171.954L708.027,389.468C708.027,405.869 694.712,419.184 678.311,419.184L635.668,419.184L635.668,201.554C635.668,185.218 648.931,171.954 665.268,171.954L708.027,171.954ZM982.943,419.184L940.3,419.184L940.3,171.954L1055.18,171.954C1096.16,171.954 1129.44,205.231 1129.44,246.219L1129.44,256.384C1129.44,300.86 1093.33,336.968 1048.86,336.969L1012.66,336.969L1012.66,389.468C1012.66,405.868 999.344,419.184 982.943,419.184ZM209.366,419.184L166.102,419.184L166.102,171.954L206.984,171.954C207.201,171.954 207.417,171.956 207.633,171.96C216.688,171.647 225.793,175.334 232.093,182.782L316.1,282.101L316.1,201.665C316.1,185.267 329.412,171.954 345.811,171.954L388.459,171.954L388.459,390.607C388.459,406.379 375.655,419.183 359.882,419.184L348.142,419.184C345.042,419.184 342.045,418.743 339.209,417.92C332.411,416.299 326.053,412.574 321.198,406.834L238.461,309.017L238.461,390.089C238.461,406.147 225.425,419.183 209.366,419.184ZM849.297,111.195L892.713,111.195C908.688,111.196 921.657,124.165 921.657,140.139L921.657,287.855C921.657,353.633 854.644,360.037 823.925,360.037C793.206,360.037 726.428,353.473 726.428,287.571L726.428,111.195L769.843,111.195C785.818,111.196 798.787,124.165 798.787,140.139L798.787,280.522C798.787,293.079 805.864,302.274 821.539,302.274L826.634,302.274C842.142,302.274 849.297,293.119 849.297,280.611L849.297,111.195ZM1040.39,221.755L1012.73,221.755L1012.73,278.044L1039.96,278.044C1053.22,278.044 1063.98,267.282 1063.98,254.026L1063.98,245.35C1063.98,232.328 1053.41,221.756 1040.39,221.755Z" style="fill:white;"/>
														</g>
													</svg>
												</td>
												<td width="32px" class="ppl_msg"></td>
											</tr>
											<tr class="ppl_msg">
												<td height="18px" colspan="3" class="ppl_msg"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr class="ppl_msg">
								<td class="ppl_msg">
									<table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width2:332px;border:1px solid #f0f0f0;border-top:0" class="ppl_msg">
										<tbody>
											<tr class="ppl_msg">
												<td height="18px" colspan="3" class="ppl_msg"></td>
											</tr>
											<tr class="ppl_msg">
												<td width="32px" class="ppl_msg"></td>
												<td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5" class="ppl_msg">
												본 이메일은 회원 인증을 위해 발송 되었습니다.<br/>
												인증번호가 타인에게 노출되지 않도록 주의하여 주세요.
												</td>
												<td width="10px" class="ppl_msg"></td>
											</tr>
											<tr class="ppl_msg">
												<td height="18px" colspan="3" class="ppl_msg"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr class="ppl_msg">
								<td class="ppl_msg">
									<table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width2:332px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px" class="ppl_msg">
										<tbody>
											<tr height="16px" class="ppl_msg">
												<td width="32px" rowspan="3" class="ppl_msg"></td>
												<td class="ppl_msg"></td>
												<td width="32px" rowspan="3" class="ppl_msg"></td>
											</tr>
											<tr class="ppl_msg">
												<td class="ppl_msg">
													<table style="min-width2:640px;" border="0" cellspacing="0" cellpadding="0" class="ppl_msg">
														<tbody>
															<tr class="ppl_msg">
																<td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5" class="ppl_msg">본 메일은 고객님께서 <%=serviceinfo.sitename%> 서비스 이용을 위해 발송된 인증 메일입니다.<br class="ppl_msg"/>
																	<br class="ppl_msg"/>
																</td>
															</tr>
															<tr>
																<td>
																	인증번호 : <%= authno %>
																</td>
															</tr>
															<tr>
																<td>
																	<br class="ppl_msg"/>
																	[담당자 정보]<br class="ppl_msg"/>
																	담당자 : <b class="ppl_msg"><%=serviceinfo.contactperson%></b><br class="ppl_msg"/>
																	이메일 : <b class="ppl_msg"><%=serviceinfo.email%></b><br class="ppl_msg"/>
																</td>
															</tr>
															<tr height="32px" class="ppl_msg"></tr>
															<tr class="ppl_msg">
																<td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5" class="ppl_msg">감사합니다.</td>
															</tr>
															<tr height="16px" class="ppl_msg"></tr>
															<tr class="ppl_msg">
																<td class="ppl_msg">
																	<table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:12px;color:#b9b9b9;line-height:1.5" class="ppl_msg">
																		<tbody>
																			<tr class="ppl_msg">
																				<td class="ppl_msg">본 이메일은 발신 전용입니다.<br/>문의사항은 내용의 담당자의 연락처로 문의하여 주세요.</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr height="32px" class="ppl_msg"></tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr height="16" class="ppl_msg"></tr>
							<tr class="ppl_msg">
								<td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5" class="ppl_msg"></td>
							</tr>
							<tr class="ppl_msg">
								<td class="ppl_msg">
									<table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:18px;padding-bottom:10px" class="ppl_msg">
										<tbody>
											<tr class="ppl_msg">
												<td class="ppl_msg">본 이메일은 <%=serviceinfo.sitename%>의 시스템에서 발송된 이메일 알림 서비스입니다.</td>
											</tr>
											<tr class="ppl_msg">
												<td class="ppl_msg">
													<div style="direction:ltr;text-align:left" class="ppl_msg">COPYRIGHT©<%=serviceinfo.sitename%> 2020 ALL RIGHTS RESERVED</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td width="32px" class="ppl_msg"></td>
			</tr>
			<tr height="32px" class="ppl_msg"></tr>
		</tbody>
	</table>
</div>